---
import { getSortedPost } from "@utils/post";
import type { GetStaticPathsOptions, Page } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import PostList from "@components/PostList.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postEntries = getSortedPost(await getCollection("post"));
  return paginate(postEntries, { pageSize: 10 });
}

type Props = {
  page: Page<CollectionEntry<"post">>;
};

const { page } = Astro.props;
---

<PageLayout>
  <main>
    <PostList posts={page.data} />
    <nav class="mt-10 flex justify-center gap-2">
      {
        page.currentPage !== 1 && (
          <a class="btn btn-outline" href={page.url.prev}>
            이전 글
          </a>
        )
      }
      {
        page.currentPage !== page.lastPage && (
          <a class="btn btn-outline" href={page.url.next}>
            다음 글
          </a>
        )
      }
    </nav>
  </main>
</PageLayout>
