body {
  --bg: #fefefe;
  --text: #2f3e54;
  --primary: #444494;
  --secondary: #fbf2e9;
  --bg-mid: #f8f9fa;
  --stroke: #d2d3d7;

  width: 100%;
  overflow-y: auto;
  color: var(--text);
  background-color: var(--bg);
}
body.dark {
  --bg: #222831;
  --text: #cbd4d9;
  --primary: #cbc3e3;
  --secondary: #393e46;
  --bg-mid: #303136;
  --stroke: #585b63;
}

.hidden {
  display: none;
}

body.dark .dark-hidden {
  display: none;
}

body.dark .dark-inline-block {
  display: inline-block;
}
