---
import SimplePostList from "@components/SimplePostList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getAllTagsWithCount, getSortedPost } from "@utils/post";
import type { InferStaticPathsProps, UnWrap } from "@utils/type";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const posts = getSortedPost(await getCollection("post"));
  const tags = getAllTagsWithCount(posts);

  return tags.map(([tagName, count]) => ({
    params: {
      tag: tagName,
    },
    props: {
      posts: posts.filter((post) => post.data.tags?.includes(tagName)),
      tagCount: count,
    },
  }));
};

type Props = InferStaticPathsProps<typeof getStaticPaths>;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<PageLayout>
  <h1 class="title">Tag: {tag}</h1>
  <SimplePostList posts={posts} />
</PageLayout>
