---
import TagList from "@components/TagList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getAllTagsWithCount } from "@utils/post";
import { getCollection } from "astro:content";

const tags = getAllTagsWithCount(await getCollection("post"));
---

<PageLayout>
  <div>
    <h1 class="title">Tags</h1>
    <div class="mt-5 inline-flex gap-3 flex-wrap">
      {
        tags.map(([tag, count], i) => (
          <a class="mx-0 border rounded-md font-bold p-2" href={`/tags/${tag}`}>
            {tag} ({count})
          </a>
        ))
      }
    </div>
  </div>
</PageLayout>
