---
import TagList from "@components/TagList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getAllTagsWithCount } from "@utils/post";
import { getCollection } from "astro:content";

const tags = getAllTagsWithCount(await getCollection("post"));
---

<PageLayout title="Tags">
  <div>
    <h1 class="title">Tags</h1>
    <div class="mt-5 inline-flex gap-3 flex-wrap">
      {
        tags.map(([tag, count], i) => (
          <a
            class="mx-0 bg-secondary text-secondary-content rounded-full font-bold px-2 py-1"
            href={`/tags/${tag}`}
          >
            {tag} ({count})
          </a>
        ))
      }
    </div>
  </div>
</PageLayout>
