---
import SimplePostList from "@components/SimplePostList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getAllCategoriesWithCount, getSortedPost } from "@utils/post";
import type { InferStaticPathsProps, UnWrap } from "@utils/type";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const posts = getSortedPost(await getCollection("post"));
  const categories = getAllCategoriesWithCount(posts);

  return categories.map(([categoryName, count]) => ({
    params: {
      category: categoryName,
    },
    props: {
      posts: posts.filter((post) =>
        post.data.categories?.includes(categoryName)
      ),
      categoryCount: count,
    },
  }));
};

type Props = InferStaticPathsProps<typeof getStaticPaths>;

const { category } = Astro.params;
const { posts, categoryCount } = Astro.props;
---

<PageLayout>
  <h1 class="title">Category: {category}</h1>
  <SimplePostList posts={posts} />
</PageLayout>
