---
import PageLayout from "@layouts/PageLayout.astro";
import { getAllCategoriesWithCount } from "@utils/post";
import { getCollection } from "astro:content";

const categories = getAllCategoriesWithCount(await getCollection("post"));
---

<PageLayout title="Categories">
  <div>
    <h1 class="title">Categories</h1>
    <ul class="flex flex-col gap-2 text-center mt-10">
      {
        categories.map(([categoryName, count]) => (
          <li class="mt-4 first:mt-0">
            <h2>
              <a
                href={`/categories/${categoryName}`}
                class="text-3xl text-primary font-bold"
              >
                {categoryName}
              </a>
            </h2>
            <div class="mt-2">{count}개의 글</div>
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
