---
import PageLayout from "@layouts/PageLayout.astro";
import { getAllCategoriesWithCount } from "@utils/post";
import { getCollection } from "astro:content";

const categories = getAllCategoriesWithCount(await getCollection("post"));
---

<PageLayout>
  <div>
    <h1>Categories</h1>
    <ul>
      {
        categories.map(([categoryName, count]) => (
          <li>
            <a href={`/categories/${categoryName}`}>{categoryName}</a> ({count})
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
