---
import { getSortedPost } from "@utils/post";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import PostList from "@components/PostList.astro";

const postEntries = getSortedPost(await getCollection("post")).slice(0, 5);
---

<PageLayout>
  <main>
    <PostList posts={postEntries} />
    <div class="mt-10 flex justify-center">
      <a class="btn btn-outline" href={`/blog`}>모든 글 보기</a>
    </div>
  </main>
</PageLayout>
