---
import { getCollection } from "astro:content";
import PageLayout from "./layouts/PageLayout.astro";

const postEntries = await getCollection("post");

postEntries.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<PageLayout title="Godsenal's blog">
  <main>
    <ul>
      {
        postEntries.map((postEntry) => (
          <li>
            <a href={`/posts/${postEntry.slug}`}>{postEntry.data.title}</a>
            <time datetime={postEntry.data.date}>{postEntry.data.date}</time>
          </li>
        ))
      }
    </ul>
  </main>
</PageLayout>
