---
import Avatar from "@components/Avatar.astro";
---

<div class="flex justify-between">
  <Avatar />
  <div class="flex flex-col justify-around text-right">
    <div class="text-2xl sm:text-4xl font-bold text-primary">
      Godsenal's Blog
    </div>
    <div class="text-lg sm:text-2xl font-bold">개발 기록</div>
  </div>
</div>
