---
import type { CollectionEntry } from "astro:content";

type Props = { posts: CollectionEntry<"post">[] };

const { posts } = Astro.props;
---

<ul class="mt-5">
  {
    posts.map((post) => (
      <li class="mt-4 font-bold flex justify-between gap-10">
        <a
          transition:name={`post-content-${post.id}`}
          transition:animate="fade"
          class="link"
          href={`/posts/${post.slug}`}
        >
          {post.data.title}
        </a>
        <span class="shrink-0">{post.data.date}</span>
      </li>
    ))
  }
</ul>
