---
import Header from "@/components/Header";

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title || "Godsenal"}</title>
  </head>
  <body>
    <Header client:visible />
    <article class="max-w-screen-md px-5 py-10 mx-auto">
      <slot />
    </article>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme") || "dark";
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();
  const isDarkTheme = theme === "dark";

  document.documentElement.setAttribute(
    "data-theme",
    isDarkTheme ? "dark" : "light"
  );
  isDarkTheme &&
    document.querySelector(".theme-switch")?.classList.add("swap-active");

  window.localStorage.setItem("theme", theme);
</script>
